[submodule "Booking-WebApp-Demo"]
	path = Booking-WebApp-Demo
	url = https://github.com/MariaBiserica/Booking-WebApp-Demo.git
[submodule "Pairs-Memory-Game"]
	path = Pairs-Memory-Game
	url = https://github.com/MariaBiserica/Pairs-Memory-Game.git
[submodule "Movie-Recommendation-Platform"]
	path = Movie-Recommendation-Platform
	url = https://github.com/MariaBiserica/Movie-Recommendation-Platform.git
[submodule "Triviador-Game"]
	path = Triviador-Game
	url = https://github.com/MariaBiserica/Triviador-Game.git
[submodule "Denmark-Website"]
	path = Denmark-Website
	url = https://github.com/MariaBiserica/Denmark-Website.git
[submodule "Travel-Agency-DB"]
	path = Travel-Agency-DB
	url = https://github.com/MariaBiserica/Travel-Agency.git
[submodule "Multi-Armed-Bandit-Simulator"]
	path = Multi-Armed-Bandit-Simulator
	url = https://github.com/MariaBiserica/Multi-Armed-Bandit-Simulator.git
